<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css" />
    <link rel="stylesheet" href="/css/product.css" />
  </head>

  <body>
    <%- include('../includes/navigation.ejs') %>

    <main>
      <div class="centered">
        <% if(errorMessage.length > 0) { %>
          <div class="user-message user-message-error"><%= errorMessage?.[0].msg || errorMessage   %></div>
          <% } %>
      </div>
      <form class="product-form" 
      action="<%= editing ? '/admin/edit-product/' + oldInput._id : '/admin/add-product' %>"
      method='POST'>
        <div class="form-control">
          <label for="title">Title</label>
          <input
          class="<%= errorMessage.find(e => e.path == "title") ? 'invalid' : '' %>" 
          type="text" name="title" id="title"  value="<%=oldInput?.title%>"/>
        </div>
        <div class="form-control">
          <label for="imageUrl">Image URL</label>
          <input 
          class="<%= errorMessage.find(e => e.path == "imageUrl") ? 'invalid' : '' %>" 
          type="text" name="imageUrl" id="imageUrl"
          value="<%=oldInput?.imageUrl%>"/>
        </div>
        <div class="form-control">
          <label for="price">Price</label>
          <input type="number" step="0.01" name="price" id="price" 
           class="<%= errorMessage.find(e => e.path == "price") ? 'invalid' : '' %>" 
          value="<%= oldInput?.price  %>"/>
        </div>
        <div class="form-control">
          <label for="descripFtion">Description</label>
          <textarea 
          class="<%= errorMessage.find(e => e.path == "description") ? 'invalid' : '' %>" 
          name="description" id="description" 
          rows="5"> <%=oldInput?.description%></textarea>
        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <button class="btn" type="submit"><% if(editing){  %>Update Product <% } else { %> Add Product <% } %></button>
      </form>
    </main>
  </body>
  <%- include('../includes/end.ejs') %>
