<%- include('../includes/head.ejs') %>

<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    <ul>
      <% if(products.length > 0) { %> <% for (const prod of products) { %>
      <li
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
          max-width: 40rem;
          margin-inline: auto;
        "
      >
        <p><%= prod.productData.title %> (<%= prod.qty %>)</p>
        <form action="/cart-delete-item" method="POST">
          <button class="btn" type="submit">Delete</button>
          <input type="hidden" name="id" value="<%= prod.productData.id %>" />
          <input type="hidden" name="price" value="<%= prod.productData.price %>" />
        </form>
      </li>

      <% } %> <% } else { %>
      <h1>No Products in Cart!</h1>
      <% } %>
    </ul>
  </main>
</body>
<%- include('../includes/end.ejs') %>
